<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.taobaok.www.portal.dao.UserMapper">

    <insert id="instUserInfo" parameterType="xyz.taobaok.www.bean.UserDataBean">
        INSERT INTO user_data (sex,`name`,`password`,cookie_id,phone,email,creat_date) VALUES (#{sex},#{name},#{password},#{cookieId},#{phone},#{email},#{creatDate})
    </insert>
    <select id="queryUserInfo" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user_data WHERE phone = #{phone};
    </select>
    <select id="checkUserInfo" resultType="xyz.taobaok.www.bean.UserDataBean">
        SELECT id,sex,`name`,`password`,cookie_id,phone,email,creat_date AS createDate,vip,collection_num AS collectionNum, portrait, score FROM user_data WHERE phone = #{phone} AND `password` = #{password}
    </select>
    <select id="selectGoodsid" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user_behavior_data WHERE id= #{userid} AND collection_id = #{goodsId}
    </select>
    <select id="selectCollection" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user_behavior_data WHERE id= #{userid}
    </select>
    <insert id="instCoolection" >
        INSERT INTO user_behavior_data (id,collection_id,create_time,title,main_pic,original_price,actual_price) VALUES (#{userid},#{goodsId},#{creatData},#{title},#{mainPic},#{originalPrice},#{actualPrice})
    </insert>
    <update id="updateUserInfoCoolection" parameterType="java.lang.Integer">
        UPDATE user_data SET collection_num = #{num} WHERE id = #{userid}
    </update>
    <select id="queryShopId" parameterType="java.lang.Integer" resultType="xyz.taobaok.www.bean.UserBehaviorDataBean" >
        SELECT id,create_time AS createTime, collection_id AS collectionId, main_pic AS mainPic,title,original_price AS originalPrice,actual_price AS actualPrice FROM user_behavior_data WHERE id = #{userid}
    </select>
    <delete id="delcollection" parameterType="java.lang.String">
        DELETE FROM user_behavior_data WHERE id = #{userid} AND collection_id = #{collid}
    </delete>
    <select id="selectUserInfo" parameterType="java.lang.Integer" resultType="xyz.taobaok.www.bean.UserDataBean">
        SELECT id,sex,`name`,`password`,cookie_id,phone,email,creat_date AS createDate,vip,collection_num AS collectionNum, portrait, score FROM user_data WHERE id = #{userid}
    </select>
</mapper>